<!-- Polymer -->
<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<!-- PX components -->
<link rel="import" href="../../../../bower_components/px-dropdown/px-dropdown.html">
<link rel="import" href="../../../../bower_components/px-progress-bar/px-progress-bar.html">

<!-- Local theming -->
<link rel="import" href="../game-app-styles.html">
<link rel="import" href="./styles/lobby-view-styles.html">

<!--
  `<lobby-view route="{}">` Creates a form for game setup.
  
  @param {JSON} route is the route object for the application
 -->
<dom-module id="lobby-view">
  <template>
    <!-- Local theme -->
    <style include="game-app-styles" is="custom-style"></style>
    <style include="lobby-view-styles" is="custom-style"></style>

    <!-- STATE: Page is loading -->
    <template is="dom-if" if="{{pageIsLoading}}">
      <px-progress-bar
        value="100"
        min="0"
        max="100"
        infinite>
      </px-progress-bar>
    </template>  

    <!-- STATE: Page is not loading -->
    <template is="dom-if" if="{{!pageIsLoading}}">
      <!-- STATE: Page is not loading and has an error -->
      <template is="dom-if" if="{{pageHasError}}">
        <div role="error" id="container--error">
          <h1>Error receiving data</h1>
          <p>Please report the following error message <a target="_blank" href="https://github.com/Foolish-Foosballers/Foosball-Front-End/issues">here</a>.</p>
          <div id="container--error-message">{{error}}</div>
        </div>
      </template>
      
      <!-- STATE: Page is not loading and does not have an error -->
      <template is="dom-if" if="{{!pageHasError}}">
        <div role="container">
          <!-- Header -->
          <div role="header">
            <h1>Game Lobby</h1>
          </div>
      
          <!-- Form -->
          <div role="form">
            <!-- Number of players -->
            <p>How many players in your game?</p>
            <px-dropdown 
              id="number-of-players-dropdown" 
              items="{{numberOfPlayerItems}}" 
              sort-mode="key" 
              button-style="default" 
              display-value="Select" 
              selected="{{selectedNumberOfPlayersIndex}}" 
              disable-clear>
            </px-dropdown>
      
            <!-- Type of game -->
            <p>What type of game are you playing?</p>
            <px-dropdown 
              id="type-of-game-dropdown" 
              items="{{typeOfGameItems}}" 
              sort-mode="key" 
              button-style="default" 
              display-value="Select" 
              selected="{{selectedTypeOfGameIndex}}" 
              disable-clear>
            </px-dropdown>
      
            <!-- Yellow players -->
            <template is="dom-repeat" items="{{yellowPlayers}}">
              <p>Yellow Player {{item.key}}</p>
              <input 
                class="text-input input--regular" 
                id="yellow-player-{{item.key}}" 
                placeholder="SSO" 
                type="number" 
                value="{{item.SSO::input}}" 
                on-input="_handlePlayerInputChanged">
            </template>
      
            <!-- Black players -->
            <template is="dom-repeat" items="{{blackPlayers}}">
              <p>Black Player {{item.key}}</p>
              <input 
                class="text-input input--regular" 
                id="black-player-{{item.key}}" 
                placeholder="SSO" 
                type="number" 
                value="{{item.SSO::input}}" 
                on-input="_handlePlayerInputChanged">
            </template>
      
            <!-- Play game button -->
            <button class="btn btn--primary" on-tap="_playGame">Play Game</button>
          </div>
        </div>
      </template>   
    </template>   

    <!-- Networking -->
    <iron-ajax 
      auto 
      id="req-get-gameObj" 
      method="get"
      url="/api/v1/game/" 
      handle-as="json"
      on-response="_handleGetGameObj" 
      on-error="_handleNetworkError">
    </iron-ajax>
    <iron-ajax  
      id="req-put-gameObj" 
      method="put"
      url="/api/v1/game/" 
      content-type="application/json"
      on-response="_handlePutGameObj" 
      on-error="_handleNetworkError">
    </iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'lobby-view',
      properties: { 
        // State of the page 
        pageIsLoading: {
          type: Boolean,
          value: true
        },

        // State of page error
        pageHaseError: {
          type: Boolean,
          value: true
        },

        // Error value
        error: { 
          type: String, 
          value: "" 
        },

        // State of game object
        gameObjectReceived: {
          type: Boolean,
          value: false
        },

        // Options for the number of players in game
        numberOfPlayerItems: {
          type: Object,
          value: function() {
            return [
              {
                "key": "0",
                "val": 2,
                "selected": true
              },
              {
                "key": "1",
                "val": 4
              }
            ]
          }
        },

        // The selected number of players index
        selectedNumberOfPlayersIndex: { 
          type: String, 
          value: 0, 
          observer: "_handleNumberOfPlayersChanged" 
        },

        // The selected number of players value
        selectedNumberOfPlayersValue: {
          type: Number,
          value: 2
        },

        // Options for the type of game that can be played
        typeOfGameItems: {
          type: Object,
          value: function() {
            return [
              {
                "key": "0",
                "val": "Single",
                "selected": true
              },
              {
                "key": "1",
                "val": "Series",
                "disabled": true
              }
            ]
          }
        },

        // The selected type of game index
        selectedTypeOfGameIndex: { 
          type: String, 
          value: 0, 
          observer: "_handleTypeOfGameChanged" 
        },

        // The selected type of game value
        selectedTypeOfGameValue: {
          type: String,
          value: "Single"
        },

        // Yellow team
        yellowPlayers: {
          type: Object,
          value: []
        },

        // Black team
        blackPlayers: {
          type: Object,
          value: []
        },

        // Game object being built using the form
        gameObject: {
          type: JSON,
          value: {}
        }
      },

      /**
       * Build the group of players for both the black and yellow team.
       * 
       * @param {number} numberOfPlayers number of players on both the black and yellow team.
       */
      _buildPlayers: function(numberOfPlayers) {
        // Add to the yellow players group
        let yellow = [];
        for (var i = 0; i < (numberOfPlayers / 2); i++) {
          let newPlayer = {"key": i + 1, "SSO": "", "pin": ""}
          yellow.push(newPlayer);
        }
        this.set("yellowPlayers", yellow);

        // Add to the black players group
        let black = [];
        for (var i = 0; i < (numberOfPlayers / 2); i++) {
          let newPlayer = {"key": i + 1, "SSO": "", "pin": "" }
          black.push(newPlayer);
        }
        this.set("blackPlayers", black);

        // Setup the game with the new players
        this._setupGame();
      },

      /**
       * Bind the form attributes to the game object attributes 
       */
      _setupGame: function() {
        this.set("gameObject.numPlayers", this.selectedNumberOfPlayersValue);
        this.set("gameObject.type", this.selectedTypeOfGameValue);
        this.set("gameObject.blackPlayers", this.blackPlayers);
        this.set("gameObject.yellowPlayers", this.yellowPlayers);
        this.set("gameObject.gameInProgress", false);
      },

      /**
       * If the number of players index changes, update the number of players value 
       */
      _handleNumberOfPlayersChanged: function() {
        this.set("selectedNumberOfPlayersValue", this.numberOfPlayerItems[this.selectedNumberOfPlayersIndex].val);
        this._buildPlayers(this.selectedNumberOfPlayersValue);
      },

      /**
       * If the type of game index changes, update the type of game value
       */
      _handleTypeOfGameChanged: function() {
        this.set("selectedTypeOfGameValue", this.typeOfGameItems[this.selectedTypeOfGameIndex].val);
        this._setupGame();
      },

      /**
       * If the input value of an input component changes, remove the error class from that input component
       */
      _handlePlayerInputChanged: function(e) {
        let el = e.target;
        el.classList.remove("validation-error");
      },

      /**
       * Decide if the page content should be loaded. Load the page if all data is received
       */
      _loadPageContent: function() {
        if (this.gameObjectReceived === true) {
          this.set("pageHasError", false);
          this.set("pageIsLoading", false);
        }
      },

      /**
       * Get and set the gameObject
       * 
       * @param data is the response body received from the server
       */    
      _handleGetGameObj: function(data) {
        this.set("gameObject", data.detail.response.game);
        this.set("gameObjectReceived", true);
        this._loadPageContent();
      },

      /**
       * Put the game object
       */
      _handlePutGameObj: function() {
        location.reload();
      },

      /**
       * If there is a network request error notify the user
       * 
       * @param data is the the response body received from the server
       */
      _handleNetworkError: function(data) {
        this.set("pageHasError", true);
        this.set("error", data.detail.error + ' - ' + data.detail.request.baseURI);
        this.set("pageIsLoading", false);
      },

      /**
       * Play a new Foosball game with the information described in the form.
       */
      _playGame: function() {
        if (this._validateForm() !== false) {
          this.set("gameObject.gameInProgress", true);
          let request = document.getElementById("req-put-gameObj");
          request.body = {"game":this.gameObject};
          request.generateRequest();
        }
      },

      /**
       * Make sure all of the forms data is valid.
       * 
       * @return {Boolean} return true if all of the form data is valid; otherwise, return false
       */
      _validateForm: function() {
        let isValidForm = true;

        // Check the yellow player(s) input fields
        for(n = 0; n < this.selectedNumberOfPlayersValue / 2; n++) {
          if (this._validateInputComponent("yellow-player-" + (n + 1)) !== true) {
            isValidForm = false;
          }
        }

        // Check the black player(s) input fields
        for(i = 0; i < this.selectedNumberOfPlayersValue / 2; i++) {
          if (this._validateInputComponent("black-player-" + (i + 1)) !== true) {
            isValidForm = false;
          }
        }

        return isValidForm;
      },

      /**
       * Make sure a specific input component holds valid data.
       * 
       * @param {String} inputId is the input components id value
       * @return {Boolean} return true if the input component's data is valid; otherwise return false
       */
      _validateInputComponent: function(inputId) {
        let isValidInput = true;
        let el = document.getElementById(inputId);
        if (el.value === '' || el.value === null || el.value === undefined) {
          el.classList.add("validation-error");
          isValidInput = false;
        }
        return isValidInput;
      }
    });
  </script>
</dom-module>