<!-- Polymer -->
<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<!-- PX components -->
<link rel="import" href="../../../../bower_components/px-dropdown/px-dropdown.html">

<!-- Local theming -->
<link rel="import" href="../game-app-styles.html">
<link rel="import" href="./styles/lobby-view-styles.html">

<dom-module id="lobby-view">
  <template>
    <!-- Local theme -->
    <style include="game-app-styles" is="custom-style"></style>
    <style include="lobby-view-styles" is="custom-style"></style>

    <div role="container">

      <!-- Header -->
      <div role="header">
        <h1>Game Lobby</h1>
      </div>
  
      <!-- Form -->
      <div role="form">
        <!-- Number of players -->
        <p>How many players in your game?</p>
        <px-dropdown 
          id="number-of-players-dropdown" 
          items="{{numberOfPlayerItems}}" 
          sort-mode="key" 
          button-style="default" 
          display-value="Select" 
          selected="{{selectedNumberOfPlayersIndex}}" 
          disable-clear>
        </px-dropdown>
  
        <!-- Type of game -->
        <p>What type of game are you playing?</p>
        <px-dropdown 
          id="type-of-game-dropdown" 
          items="{{typeOfGameItems}}" 
          sort-mode="key" 
          button-style="default" 
          display-value="Select" 
          selected="{{selectedTypeOfGameIndex}}" 
          disable-clear>
        </px-dropdown>
  
        <!-- Yellow players -->
        <template is="dom-repeat" items="{{yellowPlayers}}">
          <p>Yellow Player {{item.key}}</p>
          <input 
            class="text-input input--regular" 
            id="yellow-player-{{item.key}}" 
            placeholder="SSO" 
            type="number" 
            value="{{item.SSO::input}}" 
            on-input="_handlePlayerInputChanged">
        </template>
  
        <!-- Black players -->
        <template is="dom-repeat" items="{{blackPlayers}}">
          <p>Black Player {{item.key}}</p>
          <input 
            class="text-input input--regular" 
            id="black-player-{{item.key}}" 
            placeholder="SSO" 
            type="number" 
            value="{{item.SSO::input}}" 
            on-input="_handlePlayerInputChanged">
        </template>
  
        <!-- Play game button -->
        <button class="btn btn--primary" on-tap="_playGame">Play Game</button>
      </div>
    </div>
  </template>
  <script>
    Polymer({
      is: 'lobby-view',
      properties: { 
        // Options for the number of players in game
        numberOfPlayerItems: {
          type: Object,
          value: function() {
            return [
              {
                "key": "0",
                "val": 2,
                "selected": true
              },
              {
                "key": "1",
                "val": 4
              }
            ]
          }
        },

        // The selected number of players index
        selectedNumberOfPlayersIndex: { 
          type: String, 
          value: 0, 
          observer: "_handleNumberOfPlayersChanged" 
        },

        // The selected number of players value
        selectedNumberOfPlayersValue: {
          type: Number,
          value: 2
        },

        // Options for the type of game that can be played
        typeOfGameItems: {
          type: Object,
          value: function() {
            return [
              {
                "key": "0",
                "val": "Single",
                "selected": true
              },
              {
                "key": "1",
                "val": "Series",
                "disabled": true
              }
            ]
          }
        },

        // The selected type of game index
        selectedTypeOfGameIndex: { 
          type: String, 
          value: 0, 
          observer: "_handleTypeOfGameChanged" 
        },

        // The selected type of game value
        selectedTypeOfGameValue: {
          type: String,
          value: "Single"
        },

        // Yellow team
        yellowPlayers: {
          type: Object,
          value: []
        },

        // Black team
        blackPlayers: {
          type: Object,
          value: []
        }
      },

      _buildPlayers: function(numberOfPlayers) {
        // Add to the yellow players group
        let yellow = [];
        for (var i = 0; i < (numberOfPlayers / 2); i++) {
          let newPlayer = {"key": i + 1, "SSO": "", "pin": ""}
          yellow.push(newPlayer);
        }
        this.set("yellowPlayers", yellow);

        // Add to the black players group
        let black = [];
        for (var i = 0; i < (numberOfPlayers / 2); i++) {
          let newPlayer = {"key": i + 1, "SSO": "", "pin": "" }
          black.push(newPlayer);
        }
        this.set("blackPlayers", black);

        // Setup the game with the new players
        this._setupGame();
      },

      _setupGame: function() {
        this.set("game.numPlayers", this.selectedNumberOfPlayersValue);
        this.set("game.type", this.selectedTypeOfGameValue);
        this.set("game.blackPlayers", this.blackPlayers);
        this.set("game.yellowPlayers", this.yellowPlayers);
        this.set("game.gameInProgress", false);
      },

      _handleNumberOfPlayersChanged: function() {
        this.set("selectedNumberOfPlayersValue", this.numberOfPlayerItems[this.selectedNumberOfPlayersIndex].val);
        this._buildPlayers(this.selectedNumberOfPlayersValue);
      },

      _handleTypeOfGameChanged: function() {
        this.set("selectedTypeOfGameValue", this.typeOfGameItems[this.selectedTypeOfGameIndex].val);
        this._setupGame();
      },

      _handlePlayerInputChanged: function(e) {
        let el = e.target;
        el.classList.remove("validation-error");
      },

      _playGame: function() {
        if (this._validateForm() !== false) {
          this.set("game.gameInProgress", true);
          this.set("route.path", "/scoreboard");
        }
      },

      _validateForm: function() {
        let isValidForm = true;

        // Check the yellow player(s) input fields
        for(n = 0; n < this.selectedNumberOfPlayersValue / 2; n++) {
          if (this._validateInput("yellow-player-" + (n + 1)) !== true) {
            isValidForm = false;
          }
        }

        // Check the black player(s) input fields
        for(i = 0; i < this.selectedNumberOfPlayersValue / 2; i++) {
          if (this._validateInput("black-player-" + (i + 1)) !== true) {
            isValidForm = false;
          }
        }

        return isValidForm;
      },

      _validateInput: function(inputId) {
        let isValidInput = true;
        let el = document.getElementById(inputId);
        if (el.value === '' || el.value === null || el.value === undefined) {
          el.classList.add("validation-error");
          isValidInput = false;
        }
        return isValidInput;
      }
    });
  </script>
</dom-module>