<!-- Polymer -->
<link rel="import" href="../../../../bower_components/polymer/polymer.html">

<!-- Networking -->
<link rel="import" href="../../../../bower_components/iron-ajax/iron-ajax.html"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>

<dom-module id="scoreboard-view">
  <template>
    <!-- STATE: Page is loading -->
    <template is="dom-if" if="{{pageIsLoading}}">
      <px-progress-bar
        value="100"
        min="0"
        max="100"
        infinite>
      </px-progress-bar>
    </template>

    <!-- STATE: Page is not loading -->
    <template is="dom-if" if="{{!pageIsLoading}}">
      <!-- STATE: Page is not loading and has an error -->
      <template is="dom-if" if="{{pageHasError}}">
        <div role="error" id="container--error">
          <h1>Error receiving data</h1>
          <p>Please report the following error message <a target="_blank" href="https://github.com/Foolish-Foosballers/Foosball-Front-End/issues">here</a>.</p>
          <div id="container--error-message">{{error}}</div>
        </div>
      </template>
      
      <!-- STATE: Page is not loading and does not have an error -->
      <template is="dom-if" if="{{!pageHasError}}">
        <h1>Scoreboard</h1>

        <!-- Black Team -->
        <p>Black team: {{gameObject.blackScore}}</p>
        
        <!-- Yellow Team -->
        <p>Yellow team: {{gameObject.yellowScore}}</p>

        <button on-tap="_updateGame">Update</button>
      </template>
    </template>

    <!-- Network requests -->
    <iron-ajax  
      auto
      id="req-get-gameObj" 
      method="get"
      url="/api/v1/game/" 
      handle-as="json"
      on-response="_handleGetGameObj" 
      on-error="_handleNetworkError">
    </iron-ajax>
    <iron-ajax 
      id="req-start-socket" 
      url="http://localhost:5000/api/v1/queue/startSocket" 
      on-response="_handleStartSocketRequest" 
      on-error="_handleNetworkError">
    </iron-ajax>
    <iron-ajax 
      id="req-close-socket" 
      url="http://localhost:5000/api/v1/queue/closeSocket" 
      on-response="_handleCloseSocketRequest" 
      on-error="_handleNetworkError">
    </iron-ajax>
  </template>
  <script>
    Polymer({
      is: 'scoreboard-view',
      
      properties: { 
        pageIsLoading: {type: Boolean, value: true},

        pageHasError: { value: Boolean, value: false },

        gameObjectReceived: {type: Boolean, value: false},

        error: { type: String, value: "" },

        gameObject: { type: Object, value: {} }
      },

      _startGame: function() {
        console.log("game started");

        this._startSocket();
        let request = document.getElementById("req-start-socket");
        request.generateRequest();
      },

      _loadPageContent: function() {
        if(this.gameObjectReceived === true) {
          //this._startGame();
          this.pageIsLoading = false;
        }
      },

      _updateGame: function() {
        this.set("pageIsLoading", true);
        console.log("tapped");
        let request = document.getElementById("req-get-gameObj");
        request.generateRequest();
      },

      /**
       * Get and set the gameObject
       * 
       * @param data is the response body received from the server
       */    
       _handleGetGameObj: function(data) {
         console.log("got the game object");
        this.set("gameObject", data.detail.response.game);
        this.set("gameObjectReceived", true);
        this._loadPageContent();
      },

      _handleStartSocketRequest: function() {
        console.log("started");
      },

      _handleCloseSocketRequest: function() {
        console.log("closed");
      },

      /**
       * If there is a network request error notify the user
       * 
       * @param data is the the response body received from the server
       */
       _handleNetworkError: function(data) {
        this.set("pageHasError", true);
        this.set("error", data.detail.error + ' - ' + data.detail.request.baseURI);
        this.set("pageIsLoading", false);
      },

      _startSocket: function() {
        let _this = this;
        var socket = io.connect('http://localhost:3080');
        console.log("socket started. Waiting for data");
        socket.on('update-game-object', function (data) {
          console.log("data received: " + data);
          if (data === "3") {
            console.log("update the data");
            let request = document.getElementById("req-get-gameObj");
            request.generateRequest();
          }
        });
      }
    });
  </script>
</dom-module>