// Dropdown styles
$inuit-enable-input--regular : true;
$inuit-enable-validation-states : true;
@import 'px-forms-design/_base.forms.scss';

// Button styles
$inuit-enable-btn--primary : true;
@import 'px-buttons-design/_objects.buttons.scss';

#progress-bar {
  position: absolute;
  top: 0;
  left: 0;
}